<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Department</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Özel stil dosyanız -->
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Add Department</h1>
        <form th:action="@{/departments/add}" th:object="${department}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${department.name}" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" th:value="${department.location}" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="head_of_department">Head of Department:</label>
                <input type="text" id="head_of_department" name="head_of_department" th:value="${department.head_of_department}" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Department</button>
        </form>
        <a href="/departments/list" class="btn btn-secondary mt-3">Back to List</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
